body {
    direction: ltr;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    /* flex-direction (defult: row;) */
    flex-flow: row;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    filter: grayscale(0);
}

/* filter*/
.flex:hover {
    filter: grayscale(100%);
}

.flex div {
    background-color: red;
    color: aliceblue;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    filter: drop-shadow(0);
    transition: 3s;
}

.float:hover {
    filter: drop-shadow(100px);
}

.float div {
    background-color: red;
    color: aliceblue;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
}

/* gride */


.parent {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    align-content: flex-start;
    justify-content: space-evenly;
    margin-left: 34%;
    text-align: center;
    gap: 10px 10px;
    background-color: #eee;
    color: rgb(252, 252, 252);
    width: 600px;
    height: 300px;

}

.parent div {
    background-color: blue;

}